<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Подкрадулькино ЛК</title>
    {% load static %}
<!--    {% csrf_token %}-->
    <input type="hidden" name="token" value="{{ token }}"/>
    <link rel="stylesheet" href="{% static 'css/cabpassset.css' %}">
    <link rel="btn" href="{% static 'php/button.php' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <div class="title-text">

        <div class="field button">
            <input type="button" name="back" onclick="history.back();" value="<">
        </div>



        <div class="title cabinet">
            Личный кабинет
        </div>



    </div>
    <span>Личные данные</span>
    <div class="form-inner">
        <form action="#" class="cabinet">
            <div class="field">
                <label for="name">Имя</label>
                <input id="name" name="name" type="text" disabled="disabled" value="{{username}}" required>
            </div>
            <div class="field1">
                <label for="surname">Фамилия</label>
                <input id="surname" name="surname" type="text" disabled="disabled" value="{{surname}}" required>
            </div>
            <div class="field2">
                <label for="telephone">Контактный телефон</label>
                <input id="telephone" name="telephone" type="tel" disabled="disabled" value="{{telephone}}" required>
            </div>
            <div class="field3">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" disabled="disabled" value="{{email}}" required>
            </div>
        </form>
    </div>

    <span>Данные доставки</span>
    <div class="form-inner">
        <form action="#" class="login">
            <div class="field4">
                <label for="address">Адрес доставки</label>
                <input id="address" name="address" type="text" disabled="disabled" value="{{address}}" required>
            </div>
        </form>
    </div>

    <form action="#" method="post">
        <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" name="settings" value="Настройки">

        </div>
        <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" name="change/password" value="Сменить пароль">

        </div>

    </form>
    <a name="exit" href="{% static 'php/button.php' %}">Выход</a>

</div>