<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="'shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <title>BASHMAK</title>
    {% load static %}
    <!--	{% csrf_token %}-->
    <input type="hidden" name="token" value="{{ token }}"/>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<body>
<div class="main-content">
    <header id="header">
        <div class="container">
            <div class='header-wrap'>
                <div class="header-logo">
                    <img src="{% static 'images/logo.jpg' %}" alt="Логотип магазина BASHMAK">
                    <h1>BASHMAK</h1>
                </div>
                <li><a class="link" href="#">Каталог товаров</a></li>
                <li><a class="link" href="#">Акции</a></li>
                <form action="#" method="post">
                    <div class='main-link header-callback'>
                        <input type="submit" name="lk" value="Личный кабинет">
                    </div>
                </form>


            </div>

        </div>

    </header>

    <main id="main">
        <div class="container">
            <form class="search">
                <input type="text" name="text" class="search" placeholder="Search here!"">
                <input type="submit" name="submit" class="submit" value="Search">
            </form>
            <div class="tour-wrap">
                <a class="tour" href="#">
                    <img src="{% static 'images/female.jpg' %}" alt="Женская обувь">
                    <b>Женская обувь</b>
                </a>
                <a class="tour" href="#">
                    <img src="{% static 'images/male.jpg' %}" alt="Мужская обувь">
                    <b>Мужская обувь</b>
                </a>
                <a class="tour" href="#">
                    <img src="{% static 'images/child.jpg' %}" alt="Детская обувь">
                    <b>Детская обувь</b>
                </a>
            </div>


        </div>

    </main>
    <footer id="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-logo">
                    <img src="{% static 'images/logo.jpg' %}" alt="Логотип магазина BASHMAK">
                    <b>BASHMAK<b>
                </div>
                <p>Контактная информация<br>8-800-555-35-35<br>bashmak@mail.ru<br>г.Москва, Народное Ополчение 32</p>

            </div>
        </div>

    </footer>
</div>
</body>
</html>
