<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Подкрадулькино</title>
    {% load static %}
    <input type="hidden" name="token" value="{{ token }}"/>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="btn" href="{% static 'php/button.php'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <div class="title-text">

        <div class="field button">
            <input type="button" name="back" onclick="history.back();" value="<">
        </div>

        <div class="title password">
            Смена пароля
        </div>

    </div>

    <div class="form-inner">
        <form action="#" class="password" method="put">
            <div class="field">
                <label for="password">Старый пароль</label>
                <input id="password" type="password" name="password" pattern="[A-Za-z0-9@?_!]{6,25}" required>
            </div>
            <div class="field">
                <label for="new_password">Новый пароль</label>
                <input id="new_password" type="password" name="new_password" pattern="[A-Za-z0-9@?_!]{6,25}"
                       onChange="onChange()" placeholder="Латиница, цифры, @?_!" required>
            </div>
            <div class="field">
                <label for="repeat_password">Повторите пароль</label>
                <input id="repeat_password" type="password" name="repeat_password" onChange="onChange()" required>
            </div>
            <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" name="save" value="Сохранить">
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/password.js' %}"></script>
