<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Подкрадулькино</title>
    {% load static %}
    <input type="hidden" name="token" value="{{ token }}"/>
    <link rel="stylesheet" href="{% static 'css/cabpassset.css' %}">
    <link rel="btn" href="{% static 'php/button.php' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--<form action="#" class="del_ac" method="post">-->
<!--    <div class="field button">-->
<!--        <input type="submit" name="delete_account" value="Удалить профиль">-->
<!--    </div>-->
<!--</form>-->

<div class="wrapper">
    <form action="#" class="del_ac" method="post">
        <div class="field button">
            <input type="submit" name="delete_account" value="Удалить профиль">
        </div>
    </form>
    <div class="title-text">

        <div class="field button">
            <input type="button" name="back" onclick="history.back();" value="<">
        </div>

        <div class="title settings">
            Настройки
        </div>


    </div>
    <span>Личные данные</span>
    <div class="form-inner">
        <form action="#" class="settings" method="post">
            <div class="field">
                <label for="name">Имя</label>
                <input id="name" name="username" type="text" value="{{username}}" required>
            </div>
            <div class="field1">
                <label for="surname">Фамилия</label>
                <input id="surname" name="surname" type="text" value="{{surname}}" required>
            </div>
            <div class="field2">
                <label for="telephone">Контактный телефон</label>
                <input id="telephone" name="telephone" type="tel" pattern="[0-9+]{11,12}" value="{{telephone}}"
                       required>
            </div>
            <div class="field3">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" multiple placeholder="" value="{{email}}" required>
            </div>

            <span>Данные доставки</span>
            <div class="form-inner">
                <!--              <form action="#" class="settings" method="put">-->
                <div class="field4">
                    <label for="address">Адрес доставки</label>
                    <input id="address" name="address" type="text" value="{{address}}" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" name="save" value="Сохранить">

                </div>
            </div>
        </form>
    </div>
</div>