 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
ul li, ol li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style: none;
    
}
img{
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
    
}

body{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px ;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../images/space1.jpg");
    min-height: 100vh;
    background-position: center top;
    background-size: cover;
}

.header {
    padding: 12px 10px;
    background-color: rgb(1, 5, 4);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo img {
    will-change: 80px;
    margin-right: 15px;
}

.header-logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;

}

.header-tel {
    position: relative;
    padding-right: 60px;
    font-size: 20px;
    font-weight: 700;
}

.main-link {
    padding: 15px;
    border-radius: 12px;
    font-weight: 700;
    background-color: rgba(63, 240, 89, 0.593);
    letter-spacing: 0.5px;
}

.main-link:hover {
    background-color: rgb(31, 167, 51);
}

#main {
    padding: 60px 0 40px;
}
.search {
    
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
}

.tour-wrap {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.tour {
    width: 320px;
    display: block;
    padding: 40px 0 30px;
    margin: 0 5px 15px 0;
    border-radius: 4px;
    background-color: rgba(62, 205, 160, 0.8);
    box-shadow: 0px 0 22px 2px rgba(0,0,0,0.5);
}
  .tour:hover{
    transform: scale(1.05);
}
.tour:last-child {
    margin-right: 0;
}
.tour img {
    display: block;
    width: 75%;
    height: 200px;
    margin: 0 auto 25px auto;
    border-radius: 8px;
}

.tour b {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #3e3e3e;

}
.footer {
    background-color: #516f42;
    padding: 12px 0;
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-logo img {
    width: 50px;
    margin-right: 15px;
}

.footer-logo b {
    font-family: 'Lobster', cursive;
    font-size: 18px;
}
.footer-wrap p {
    text-align: center;
}
